openapi: 3.0.0
info:
  title: Seicho API
  description: API documentation for Seicho, the online diary application.
  version: 1.0.0
servers:
  - url: https://api.seicho.com/v1
    description: Production server

paths:
  /entries:
    get:
      summary: Get all diary entries
      description: Retrieve a list of all diary entries.
      responses:
        '200':
          description: A list of diary entries.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DiaryEntry'
    post:
      summary: Create a new diary entry
      description: Add a new entry to the diary.
      requestBody:
        description: Diary entry to be added.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiaryEntry'
      responses:
        '201':
          description: Diary entry created successfully.
        '400':
          description: Invalid input.

  /entries/{id}:
    get:
      summary: Get a diary entry by ID
      description: Retrieve a single diary entry by its ID.
      parameters:
        - name: id
          in: path
          required: true
          description: ID of the diary entry to retrieve.
          schema:
            type: string
      responses:
        '200':
          description: A diary entry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiaryEntry'
        '404':
          description: Diary entry not found.

    put:
      summary: Update a diary entry by ID
      description: Update the details of a specific diary entry.
      parameters:
        - name: id
          in: path
          required: true
          description: ID of the diary entry to update.
          schema:
            type: string
      requestBody:
        description: Updated diary entry details.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiaryEntry'
      responses:
        '200':
          description: Diary entry updated successfully.
        '400':
          description: Invalid input.
        '404':
          description: Diary entry not found.

    delete:
      summary: Delete a diary entry by ID
      description: Remove a diary entry from the diary by its ID.
      parameters:
        - name: id
          in: path
          required: true
          description: ID of the diary entry to delete.
          schema:
            type: string
      responses:
        '204':
          description: Diary entry deleted successfully.
        '404':
          description: Diary entry not found.

components:
  schemas:
    DiaryEntry:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the diary entry.
        title:
          type: string
          description: Title of the diary entry.
        content:
          type: string
          description: Content of the diary entry.
        date:
          type: string
          format: date-time
          description: Date and time when the diary entry was created or updated.
